server:
  port: 9191

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/sample?createDatabaseIfNotExist=true
    username: root
    password: admin
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
security:
  oauth2:
    resource:
      token-info-uri: http://localhost:9190/oauth/check_token
  client:
    client-id: mobile
    client-secret: pin


    
